/* Global styles */

@font-face {
    font-family: hacked;
    src: url(fonts/hacked-kerx.ttf);
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 21px;
    background-color: black;
    color: limegreen;
    text-align: center;
}


/* Typography */

h1 {
    font-family: hacked;
    font-size: 100px;
    margin: 0 10px;
}

h2 {
    font-size: 20px;
}

h6 {
    font-size: 12px;
    margin: 0 10px;
}

/* Layout */

header {
    background-color: black;
    color: limegreen;
    padding: 10px 10px;
    height: 60px;
    
}

.box {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -250px;

}