/* Global styles */

@font-face {
    font-family: hacked;
    src: url(fonts/hacked-kerx.ttf);
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 21px;
    background-color: rgb(50, 50, 50);
    color: limegreen;
}


/* Typography */

h1 {
    font-family: hacked;
    font-size: 40px;
    margin: 0 10px;
}

h5 {
    font-size: 15px;
    margin: 2px;
}

h6 {
    font-size: 12px;
    margin: 0px 10px;
}

p {
    font-size: 10px;
    margin: 1px;
}

/* Layout */

header {
    background-color: black;
    color: limegreen;
    padding: 10px 10px;
    height: 60px;
    
}

.main {
    display: flex;
}

.editor {
    width: 850px;
    height: 500px;
    border: black solid 1px;
    margin: 20px;
    background-color: black;
    /* margin: 100px auto; */
}

#container {
    width: 350px;
    height: 200px;
    margin: 20px 10px;
    border: black solid 1px;
    background-color:black;
    overflow: scroll;
    font-size: 15px;
}

#info-box {
    width: 350px;
    height: 200px;
    margin: 20px 10px;
    border: black solid 1px;
    background-color: black;
    overflow: scroll;
    /* margin: 100px auto; */
}

.svg-container {
    width: 850px;
    height: 450px;
    background-color: black;
    overflow: scroll;
}

.button-container {
    width: 850px;
    height: 100px;
}

/* Button used to open add attack form */
.add-attack-button, .capec-search-button, .delete-button {
    background-color: white;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    width: 275px;
    display: inline-block;
    margin-left: 3px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
}
  
  /* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 20px;
    background-color: rgb(25, 25, 25);
    border: 3px solid #f1f1f1;

}
  
  /* Full-width input fields */
.form-container input[type=parent], .form-container input[type=child] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #000000;
  }
  
  /* When the inputs get focus, do something */
.form-container input[type=parent]:focus, .form-container input[type=child]:focus {
    background-color: #ddd;
    outline: none;
}
  
  /* Set a style for the submit/login button */
.form-container .btn {
    background-color: limegreen;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
  
  /* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}
  
  /* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}