<DOCTYPE html>
    <html xmlns:th="https://www.thymeleaf.org">
        <head>
            <title>timber.</title>
            <link href ="style.css" rel="stylesheet">
            <script src = "libraries/tree.js"></script>
            <link href="libraries/treejs.css" rel="stylesheet">
            <link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        </head>

        <body>
            <header>
                <h1>timber.</h1>
                <h6>an attack tree generator<h6>
            </header>
            <main class = "main">
                <div class = "column">
                    <div class = "editor">
                        <svg class = svg-container></svg>
                    </div>

                    <div class = "info-box">
                        <h3>info</h3>
                    </div>
                        
                </div>

                <div class = "column">
                    <div id = "container">
                    </div>
                    <button class = "add-attack-button" type = "button" onclick="openForm()">Add Attack</button>
                </div>

                <div class = "column"></div>

                <div class="form-popup" id="myForm">
                      <h1>Add Attack</h1>

                    <form action="#" th:action="@{/tree}" th:object="${node}" method="post" class="form-container" id="frm1">
                        <p>Parent Attack: 
                            <!-- <input type="text" th:field="*{parent}" /> -->
                            <select th:field="*{parent}">
                                <option th:each="i : ${attacks}" th:value="${i}" th:text="${i}">
                                </option>
                            </select>
                        </p>
                        <p>New Attack: <input type="text" th:field="*{child}" /></p>
                        <button type="submit" class="btn">Add</button>
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                    </form>
                
                  </div>
            </main>

            <script src = "http://d3js.org/d3.v4.min.js"></script>
            <script src="https://unpkg.com/@hpcc-js/wasm@0.3.11/dist/index.min.js"></script>
            <script src="https://unpkg.com/d3-graphviz@3.0.5/build/d3-graphviz.js"></script>
            <script src = "index.js"></script>
        </body>

    </html>
</DOCTYPE>